<h1>Really delete $ranger.getUserName()?</h1>

<form action="/rangers/delete" method="post">
  <input id="rangerId" name="rangerId" type="text" value="$ranger.getId()" hidden>
  <button class="btn btn-danger" type="submit">Delete</button>
  <a href="javascript:history.back()"<button class="btn btn-success" type="button">Go back</button></a>
</form>
