<h1>Ranger details</h1>

<p>User Name: $ranger.getUserName()</p>
<p>First Name: $ranger.getFirstName()</p>
<p>Last Name: $ranger.getLastName()</p>
<p>Badge: $ranger.getBadge()</p>
<p>Phone: $ranger.getPhone()</p>
